# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\УНИВЕР\курсач 3(1)\клиент\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
